
database/.ppicache.dat
database/.ppicache.bak
database/.ppicache.dir
*.bak
*.dat
*.dir
*.sqlite
*.pdf
*.pyc
config/config.py
/database/logs
/runs
database/.authorCache.sqlite
inference/*
*.safetensors
*.zip
*.0
runs*
*.out
*.pth
results/*
official_runs/*
official_runs*
*.pt
/.idea
prune.py
local_test/test.py
/local_test
